<div class="container section">
	<h5>Artists</h5>
	<div class="row">
		{{# each artists}}
			<div class="col s12 m4 xl3">
			  <a href="{{artistUrl slug}}" class="card block">
			    <div class="card-image">
			      <img src="{{artistPicture.secure_url}}">
						<div class="overlay" style="background: {{artistColor}}"></div>
			      <span class="card-title truncate">{{artistName}}</span>
			    </div>
			  </a>
			</div>
		{{/ each}}
	</div>
</div>
