<h1>Heading Font: Roboto Slab 700</h1>
<p>Normal Text Font: Roboto Regular</p>

<h1>Heading h1</h1>
<h1 class="sans">Sans Header h1</h1>
<h2>Heading h2</h2>
<h3>Heading h3</h3>
<h4>Heading h4</h4>
<h5>Heading h5</h5>
<h6>Heading h6</h6>

<h4>Color Swatches</h4>
<div class="swatches">
	<div class="swatch">
		<div class="swatch-color shadow" style="background: #ffffff"></div>
		<p class="swatch-text">$white</p>
		<p class="swatch-text">#ffffff</p>
	</div>
	<div class="swatch">
		<div class="swatch-color shadow" style="background: #f7f7f7"></div>
		<p class="swatch-text">$off-white</p>
		<p class="swatch-text">#f7f7f7</p>
	</div>
	<div class="swatch">
		<div class="swatch-color shadow" style="background: #edf4fc"></div>
		<p class="swatch-text">$light-grey</p>
		<p class="swatch-text">#edf4fc</p>
	</div>
	<div class="swatch">
		<div class="swatch-color shadow" style="background: #63707F"></div>
		<p class="swatch-text">$mid-grey</p>
		<p class="swatch-text">#63707F</p>
	</div>
	<div class="swatch">
		<div class="swatch-color shadow" style="background: #2B3138"></div>
		<p class="swatch-text">$dark-grey</p>
		<p class="swatch-text">#2B3138</p>
	</div>
	<div class="swatch">
		<div class="swatch-color shadow" style="background: #1A1D21"></div>
		<p class="swatch-text">$black</p>
		<p class="swatch-text">#1A1D21</p>
	</div>
	<div class="swatch">
		<div class="swatch-color shadow" style="background: #D7443F"></div>
		<p class="swatch-text">$red</p>
		<p class="swatch-text">#D7443F</p>
	</div>
	<div class="swatch">
		<div class="swatch-color shadow" style="background: #27CEC7"></div>
		<p class="swatch-text">$cyan</p>
		<p class="swatch-text">#27CEC7</p>
	</div>

</div>

<p>This is some normal text.</p>
<a href="#">Standard Link Style</a>
