$white: 			#ffffff;
$off-white: 	#f7f7f7;
$light-grey: 	#edf4fc;
$mid-grey: 		#63707F;
$dark-grey: 	#2B3138;
$black: 			#1A1D21;
$red: 				#D7443F;
$cyan: 				#27CEC7;

$sans: 'Roboto';
$slab: 'Roboto Slab';
