$white: 			#ffffff;
$off-white: 	#f0f0f0;
$light-grey: 	#d6dce2;
$mid-grey: 		#63707F;
$dark-grey: 	#2B3138;
$black: 			#1A1D21;
$red: 				#D7443F;
$cyan: 				#27CEC7;

$sans: 'Roboto';
$slab: 'Roboto Slab';

$mid-screen: 600px;
$large-screen: 1000px;
$huge-screen: 1400px;
