.footer {
	background: $grey-700;
	padding: 20px 10px;
}

.footer-column {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.footer-header {
	color: $white;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-family: $slab;
	border-bottom: 1px solid $white;
}

.footer-link {
	display: inline-block;
	align-self: flex-start;
	font-size: 14px;
	color: $white;
	text-decoration: none;
	padding: 10px 0px;
  &:hover {
		text-decoration: underline;
	}
}

@media (min-width:650px) {
	.footer {
		padding: 20px;
	}
	.footer-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
	}
}

@media (min-width: 1200px) {
	.footer {
		padding: 20px 0px;
	}
}
