//colors

$white: #fff;
$grey-10: #FAFAFA;
$grey-50: #ECEFF1;
$grey-100: #CFD8DC;
$grey-200: #B0BEC5;
$grey-300: #90A4AE;
$grey-400: #78909C;
$grey-500: #607D8B;
$grey-600: #546E7A;
$grey-700: #455A64;
$grey-800: #37474F;
$grey-900: #263238;

$accent-light: #EF9A9A;
$accent: #E53935;
$accent-mid: #C62828;
$accent-dark: #B71C1C;

//fonts

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

$sans: 'Roboto';
$slab: 'Roboto Slab';
