.block {
	display: block;
}

.nav-afov-logo {
	height: 45px;
	vertical-align: middle;
}

.side-nav-header {
	height: 10px;
}

.footer-header {
	color: white;
	font-family: 'Roboto Slab';
	font-size: 16px;
	border-bottom: 1px solid white;
	padding-bottom: 15px;
}
