.session-cards {
	display: grid;
	grid-row-gap: 20px;
}

@media (min-width: $mid-screen) {
	.session-cards {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
	}
	.session-card {
		display: grid;
	}
}

@media (min-width: $large-screen) {
	.session-cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.session-card {
		display: grid;
	}
}

