.video-info {
	display: grid;
}

.offset-header {
	height: 150px;
	margin-bottom: -140px;
	background: white;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

	i {
		color: white;
		display: block;
		position: absolute;
		font-size: 50px;
		top: 45%;
		width: 100%;
		text-align: center;
	}

	iframe {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.session-video-card {
	align-self: start;
	border-radius: 2px;
	overflow: hidden;
}

.video-details {
	background: white;
	padding: 20px;
}

.session-post-date {
	color: $mid-grey;
	display: flex;
	align-items: center;
}

.stats-count {
	display: flex;
	margin-right: 20px;
	font-size: 16px;
	i {
		vertical-align: middle !important;
		font-size: 16px !important;
		display: inline-block;
		margin-right: 10px;
	}
}

.contributors {
	display: flex;
	flex-wrap: wrap;
}

.chip {
	display: flex;
	align-items: center;
	margin-right: 20px;
	margin-top: 10px;
	img {
		display: inline-block;
		border-radius: 20px;
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
}

.subscribe {
	margin-top: 20px;
	height: 48px;
}

.related-items {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}


@media (min-width: $mid-screen) {
	.offset-header {
		height: 250px;
		margin-bottom: -240px;
	}

	.related-items {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: $large-screen) {
	.offset-header {
		height: 300px;
		margin-bottom: -290px;
	}
	.video-info {
		grid-template-columns: auto 350px;
		grid-column-gap: 20px;
	}
	.related-items {
		grid-template-columns: 1fr;
	}
}

@media (min-width: $huge-screen) {
	.offset-header {
		height: 350px;
		margin-bottom: -340px;
	}
}
