.session-card {
	display: block;
	text-decoration: none;
	color: $dark-grey;
	background: white;
	margin-bottom: 20px;
	border-radius: 2px;
	overflow: hidden;
}

.session-img-box {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.session-img {
	display: block;
	width: 100%;
}

.session-card-info {
	padding: 20px;
	h1 {
		margin: 0px;
	}
	h3 {
		margin: 0px;
	}
}

.post-date {
	color: $mid-grey;
	font-size: 12px;
}

@media (min-width: 800px) {
	.session-card {
		display: grid;
		grid-template-columns: auto 1fr;
	}
	.session-img-box {
		width: 400px;
	}
}


