@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Roboto"; }

.limiter {
  max-width: 1200px;
  margin: 0px auto; }

.header {
  background: #263238; }

.header-logo {
  display: block;
  padding: 30px 0px;
  margin: 0px auto;
  width: 130px; }
  .header-logo img {
    display: block; }

.header-links {
  padding-bottom: 20px; }

.header-link {
  font-family: "Roboto Slab";
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px; }

.header-link:hover {
  background: #fff;
  color: #263238; }

.button-row {
  display: flex;
  justify-content: flex-end; }

.nav-button {
  display: block;
  padding: 20px;
  margin: 0px 20px 20px 0px;
  border-radius: 50%; }
  .nav-button:hover {
    cursor: pointer; }
  .nav-button:active {
    background: #fff; }

.button-box {
  width: 20px;
  display: flex;
  flex-direction: column; }

.bar {
  display: block;
  background: #fff;
  height: 2px;
  margin-bottom: 5px; }

.mid {
  width: 75%;
  align-self: flex-end; }

#navBtn {
  display: none; }

@media (max-width: 649px) {
  #navBtn + .header-links {
    height: 0px;
    padding: 0px;
    overflow: hidden;
    transition: all .5s ease; }
  #navBtn:checked + .header-links {
    height: 380px; } }

@media (min-width: 650px) {
  .button-row {
    display: none; }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-logo {
    margin: 0px;
    padding: 0px 0px 0px 20px;
    width: 140px; }
  .header-links {
    display: flex;
    padding: 0px; }
  .header-link {
    color: #B0BEC5;
    padding: 40px 30px 40px 0px; }
    .header-link:hover {
      background: none;
      color: #fff;
      transform: translateY(-2px); }
  .active {
    color: white; } }

@media (min-width: 1220px) {
  .header-logo {
    padding: 0px;
    width: 120px; } }

.footer {
  background: #455A64;
  padding: 20px; }

.footer-column {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; }

.footer-header {
  color: #263238;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-family: "Roboto Slab";
  border-bottom: 1px solid #263238; }

.footer-link {
  display: inline-block;
  align-self: flex-start;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 10px 0px; }
  .footer-link:hover {
    text-decoration: underline; }

@media (min-width: 650px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px; } }
