@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Roboto"; }

.limiter {
  max-width: 1400px;
  margin: 0px auto; }

.header {
  background: #263238;
  z-index: 10;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }

.header-logo {
  display: block;
  padding: 30px 0px;
  margin: 0px auto;
  width: 130px; }
  .header-logo img {
    display: block; }

.header-links {
  padding-bottom: 20px; }

.header-link {
  font-family: "Roboto Slab";
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px; }

.header-link:hover {
  background: #fff;
  color: #263238; }

.button-row {
  display: flex;
  justify-content: flex-end; }

.nav-button {
  display: block;
  padding: 20px;
  margin: 0px 20px 20px 0px;
  border-radius: 50%; }
  .nav-button:hover {
    cursor: pointer; }
  .nav-button:active {
    background: #fff; }

.button-box {
  width: 20px;
  display: flex;
  flex-direction: column; }

.bar {
  display: block;
  background: #fff;
  height: 2px;
  margin-bottom: 5px; }

.mid {
  width: 75%;
  align-self: flex-end; }

#navBtn {
  display: none; }

@media (max-width: 649px) {
  #navBtn + .header-links {
    height: 0px;
    padding: 0px;
    overflow: hidden;
    transition: all .5s ease; }
  #navBtn:checked + .header-links {
    height: 380px; } }

@media (min-width: 650px) {
  .button-row {
    display: none; }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-logo {
    margin: 0px;
    padding: 0px 0px 0px 20px;
    width: 140px; }
  .header-links {
    display: flex;
    padding: 0px; }
  .header-link {
    color: #fff;
    padding: 40px 30px 40px 0px; }
    .header-link:hover {
      background: none;
      color: #fff;
      transform: translateY(-2px); }
  .active {
    color: white; } }

@media (min-width: 1420px) {
  .header-logo {
    padding: 0px;
    width: 120px; } }

.footer {
  background: #455A64;
  padding: 20px 10px; }

.footer-column {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; }

.footer-header {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: "Roboto Slab";
  border-bottom: 1px solid #fff; }

.footer-link {
  display: inline-block;
  align-self: flex-start;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 10px 0px; }
  .footer-link:hover {
    text-decoration: underline; }

@media (min-width: 650px) {
  .footer {
    padding: 20px; }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px; } }

@media (min-width: 1400px) {
  .footer {
    padding: 20px 0px; } }

.hero-background {
  height: 200px;
  margin-bottom: -180px; }

.hero {
  padding: 0px 20px; }

.hero-image-section {
  position: relative;
  overflow: hidden;
  align-self: start;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }

.hero-image {
  width: 100%;
  display: block;
  z-index: -1; }

.hero-band {
  font-family: "Roboto Slab";
  font-size: 36px;
  margin-bottom: 3px; }

.hero-song {
  display: block;
  color: white;
  font-size: 22px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }

.hero-description {
  margin-top: 10px;
  line-height: 1.4em; }

.watch-button {
  display: block;
  padding: 15px;
  border-radius: 100px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 10px 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .watch-button:hover {
    transform: translateY(-2px); }

.overlay {
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  opacity: 1;
  mix-blend-mode: color;
  transition: all 300ms ease; }

.video-card:hover .overlay {
  opacity: 0;
  transform: scale(1.1); }

.hero-image-section:hover .overlay {
  opacity: 0; }

.recent-sessions-box {
  padding: 20px; }
  .recent-sessions-box h2 {
    font-family: "Roboto Slab";
    padding-bottom: 20px; }

.recent-sessions {
  display: grid;
  grid-row-gap: 20px; }

.video-card {
  display: block;
  overflow: hidden;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }

.card-image-section {
  position: relative;
  overflow: hidden;
  padding: 20px; }

.card-image {
  width: 100%;
  display: block;
  z-index: -1; }

.card-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;
  padding: 20px;
  height: 100%; }

.card-band-photo {
  width: 60px;
  border-radius: 50%; }

.band-name {
  font-family: "Roboto Slab";
  color: white;
  font-size: 24px; }

.song-name {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px; }

@media (min-width: 900px) and (max-width: 1399px) {
  .hero-description {
    color: white;
    max-height: 7em;
    overflow: hidden;
    text-overflow: clip; } }

@media (min-width: 900px) {
  .hero .limiter {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; }
  .hero-background {
    height: 310px;
    margin-bottom: -290px; }
  .hero-band {
    color: white;
    font-size: 50px; }
  .hero-song {
    display: inline-block;
    padding: 15px;
    font-size: 30px; }
  .hero-description {
    color: white; }
  .watch-button {
    display: inline-block;
    padding: 15px 25px; }
  .recent-sessions {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; } }

@media (min-width: 1200px) {
  .recent-sessions {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (min-width: 1420px) {
  .hero-background {
    height: 200px;
    margin-bottom: -180px; }
  .hero-text {
    padding-top: 30px;
    margin-left: -100px;
    z-index: 20; }
  .hero-band {
    font-size: 80px;
    margin-bottom: 5px; }
  .hero-song {
    display: inline-block;
    font-size: 40px; }
  .hero-description {
    color: #333; }
  .hero-description, .watch-button {
    margin-top: 20px;
    margin-left: 100px; }
  .recent-sessions-box {
    padding: 0px 0px 20px 0px; } }

.video-backdrop {
  background: #263238; }

.video-limiter {
  max-width: 1400px;
  margin: 0px auto; }

.video-player {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0px;
  height: 0; }

.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-info-box {
  display: grid;
  grid-template-columns: auto 1fr; }

.video-band-pic {
  margin: 5px 0px 0px 5px;
  width: 80px;
  border-radius: 50%;
  display: block; }

.video-song-info {
  padding-left: 15px; }

.video-text {
  background: white;
  padding: 10px; }
  .video-text h1 {
    font-family: "Roboto Slab";
    padding-bottom: 5px; }
  .video-text h2 {
    font-family: "Roboto";
    padding-bottom: 10px; }
  .video-text h3 {
    font-family: "Roboto Slab";
    padding: 20px 0px; }
  .video-text p {
    padding-bottom: 10px; }

.related-videos {
  padding: 10px;
  background: white; }
  .related-videos p {
    padding: 10px;
    color: white;
    font-family: "Roboto Slab";
    margin-bottom: 10px; }
  .related-videos .dummy {
    width: 100%;
    height: 70px;
    background: white;
    margin-bottom: 10px;
    border: solid 1px black; }
  .related-videos .dummy:last-child {
    margin-bottom: 0; }

@media (min-width: 900px) {
  .video-limiter {
    display: grid;
    grid-template-columns: auto 300px; }
  .video-text {
    padding: 30px 80px 40px 40px; }
  .related-videos {
    padding: 25px;
    background: none; }
    .related-videos .dummy, .related-videos p {
      margin-bottom: 20px; } }

.artists-bg {
  background: #CFD8DC;
  padding-bottom: 25px; }

.artists-grid {
  padding: 10px;
  display: grid;
  grid-row-gap: 40px; }

.artist-card {
  display: block;
  text-decoration: none;
  display: grid; }

.artist-card-pic-box {
  display: grid;
  padding: 20px; }

.artist-card-pic {
  border-radius: 100%;
  width: 250px;
  justify-self: center; }

.artist-card-name {
  padding: 15px 20px;
  font-family: "Roboto Slab";
  font-size: 26px;
  border-radius: 3px;
  justify-self: center;
  color: #fff; }

@media (min-width: 650px) {
  .artists-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; } }

@media (min-width: 1200px) {
  .artists-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0px;
    grid-column-gap: 20px; } }
