*,
*::after,
*::before {
  box-sizing: border-box; }

.img {
  display: block; }

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px; }

.no-pad {
  padding: 0px;
  margin: 0px; }

.center-text {
  text-align: center; }

.vertical-filler {
  min-height: 65vh; }

.spacer {
  border-bottom: 1px solid #d6dce2;
  height: 0px;
  margin: 20px 0px; }

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background: #f0f0f0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0px 10px 0px;
  font-family: "Roboto Slab", serif;
  font-weight: 700; }
  h1.sans,
  h2.sans,
  h3.sans,
  h4.sans,
  h5.sans,
  h6.sans {
    font-family: "Roboto"; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 25px; }

a {
  color: #D7443F; }

p {
  margin: 15px 0px; }

.underline {
  border-bottom: solid 1px #2B3138; }

.nav-bar {
  background: #1A1D21;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  z-index: 10; }

.nav-logo-link {
  display: block; }

.nav-logo-img {
  display: block;
  width: 120px;
  padding: 20px 0px 30px 0px;
  margin: 0 auto; }

.nav-link {
  display: block;
  padding: 15px 0px;
  color: #ffffff;
  text-decoration: none;
  border-top: solid 1px #ffffff; }
  .nav-link:first-of-type {
    border-top: none; }

.nav-button-box {
  display: flex;
  justify-content: flex-end; }

.nav-button {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.full-bar,
.mid-bar {
  background: #ffffff;
  height: 2px; }

.full-bar {
  width: 100%; }

.mid-bar {
  margin: 5px 0px;
  width: 60%; }

@media (min-width: 600px) {
  .nav-bar {
    height: 100px; }
    .nav-bar .container {
      padding: 0px 20px;
      display: flex;
      height: 100%;
      justify-content: space-between; }
  .nav-button-box {
    display: none; }
  .nav-logo-img {
    padding: 0px;
    margin: 0px;
    height: 100%; }
  .nav-links {
    display: flex; }
  .nav-link {
    border: none;
    padding: 0px 20px;
    display: flex;
    align-items: center; } }

.footer {
  background: #2B3138; }

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.footer-header {
  color: #d6dce2;
  align-self: stretch;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: solid 2px #d6dce2; }

.footer-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 10px; }

.footer-link:hover {
  text-decoration: underline; }

@media (min-width: 600px) {
  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px; } }

.hero-img-box {
  position: relative;
  overflow: hidden;
  border-radius: 2px; }

.hero-img {
  display: block;
  width: 100%; }

.watch-button {
  display: block;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
  .watch-button i {
    display: inline-block;
    vertical-align: bottom; }

.hero-info {
  padding: 20px 0px 0px 0px; }

.hero-add-date {
  color: #63707F;
  margin: 5px 0px 10px 0px; }

.hero-band-name,
.hero-song-name,
.hero-song-description {
  line-height: 1.2;
  margin: 0px;
  padding-bottom: 10px; }

.hero-song-description {
  line-height: 1.6;
  margin-bottom: 10px; }

.recent-videos {
  display: grid;
  grid-row-gap: 20px; }

.video-card {
  border-radius: 2px;
  overflow: hidden;
  display: block;
  text-decoration: none;
  background: white; }

.card-img-box {
  position: relative; }

.overlay {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  mix-blend-mode: color;
  opacity: .8;
  transition: .4s ease opacity; }
  .overlay:hover {
    opacity: 0; }

.video-img {
  display: block;
  z-index: -1;
  width: 100%; }

.card-info {
  padding: 20px; }

.card-artist-name {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  margin: 0;
  padding: 15px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }

.card-song-title {
  font-size: 18px;
  margin: 0px; }

.post-date {
  color: #63707F;
  font-size: 12px;
  margin: 10px 0px 0px 0px; }

@media (min-width: 600px) {
  .recent-videos {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1000px) {
  .hero .container {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; }
  .hero-img-box {
    align-self: start; }
  .hero-info {
    padding-top: 20px; }
  .hero-song-description {
    padding-right: 50px; }
  .watch-button {
    display: inline-block;
    font-size: 20px;
    padding: 15px 50px; }
  .recent-videos {
    grid-template-columns: 1fr 1fr 1fr; } }

.about-card {
  background: white;
  border-radius: 2px;
  padding: 20px; }

.contributor-cards {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 40px; }

.contributor-card {
  display: grid;
  justify-content: center; }

.mugshot {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 75px; }

@media (min-width: 600px) {
  .contributor-cards {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1400px) {
  .contributor-cards {
    grid-template-columns: 1fr 1fr; }
  .contributor-card {
    margin-left: 40px;
    padding: 20px;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: auto 1fr; } }

.artist-info-card {
  display: grid;
  background: white;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 20px; }

.artist-info {
  padding: 20px; }

.artist-sessions {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px; }

@media (min-width: 600px) {
  .artist-info-card {
    grid-template-columns: 300px auto;
    grid-column-gap: 20px; }
  .artist-info {
    padding: 0px 20px 0px 0px; }
  .artist-sessions {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1000px) {
  .artist-sessions {
    grid-template-columns: 1fr 1fr 1fr; } }

.artist-cards {
  display: grid;
  grid-row-gap: 20px; }

.artist-card {
  display: block;
  color: #2B3138;
  text-decoration: none;
  overflow: hidden;
  border-radius: 2px; }

.artist-card-img-box {
  position: relative; }

.artist-card-img {
  display: block;
  width: 100%; }

.artist-card-name {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }

@media (min-width: 600px) {
  .artist-cards {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; } }

@media (min-width: 1000px) {
  .artist-cards {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (min-width: 1400px) {
  .artist-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.contact-header {
  position: relative;
  overflow: hidden;
  height: 230px;
  background-image: url("../images/mixboard.png"); }
  .contact-header h2 {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 30px;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }

.thank-you {
  height: 545px; }

.thank-you-text {
  display: flex;
  align-items: center;
  justify-content: center; }

.contact-overlay {
  background: #D7443F;
  mix-blend-mode: color; }

.contact-card {
  display: grid;
  background: white;
  border-radius: 2px;
  overflow: hidden; }
  .contact-card .contact-card-details {
    padding: 30px; }
  .contact-card label {
    font-family: 'Roboto Slab';
    font-size: 12px;
    color: #2B3138; }
  .contact-card input,
  .contact-card textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin: 20px 0px;
    resize: none; }
  .contact-card input:focus,
  .contact-card textarea:focus,
  .contact-card button:focus {
    outline: none;
    border: #27CEC7 1px solid; }
  .contact-card button {
    padding: 20px;
    border: none;
    border-radius: 3px;
    color: white;
    background: #27CEC7;
    cursor: pointer;
    display: block; }
  .contact-card .submit-button-box {
    display: flex;
    justify-content: flex-end; }

@media (min-width: 800px) {
  .contact-card {
    grid-template-columns: 1fr 1fr; }
  .contact-header {
    height: auto; } }

.video-info {
  display: grid; }

.offset-header {
  height: 150px;
  margin-bottom: -140px;
  background: white; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }
  .video-container i {
    color: white;
    display: block;
    position: absolute;
    font-size: 50px;
    top: 45%;
    width: 100%;
    text-align: center; }
  .video-container iframe {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.session-video-card {
  align-self: start;
  border-radius: 2px;
  overflow: hidden; }

.video-details {
  background: white;
  padding: 1px 20px 20px 20px; }

.session-post-date {
  color: #63707F; }

.contributors {
  display: flex;
  flex-wrap: wrap; }

.chip {
  display: flex;
  align-items: center;
  margin-right: 20px; }
  .chip img {
    display: inline-block;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 10px; }

.subscribe {
  margin-top: 20px;
  height: 48px; }

.related-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px; }

@media (min-width: 600px) {
  .offset-header {
    height: 250px;
    margin-bottom: -240px; }
  .related-items {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1000px) {
  .offset-header {
    height: 300px;
    margin-bottom: -290px; }
  .video-info {
    grid-template-columns: auto 350px;
    grid-column-gap: 20px; }
  .rel-sessions {
    color: white; }
  .related-items {
    grid-template-columns: 1fr; } }

@media (min-width: 1400px) {
  .offset-header {
    height: 350px;
    margin-bottom: -340px; } }

.session-cards {
  display: grid;
  grid-row-gap: 20px; }

@media (min-width: 600px) {
  .session-cards {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; }
  .session-card {
    display: grid; } }

@media (min-width: 1000px) {
  .session-cards {
    grid-template-columns: 1fr 1fr 1fr; }
  .session-card {
    display: grid; } }

.swatches {
  display: grid;
  grid-template-columns: repeat(8, 1fr); }

.swatch {
  padding: 10px; }

.swatch-color {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: grey; }

.swatch-text {
  text-align: center; }

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.11); }

.big-shadow {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
